.kegListItem {
  width: 500px;
}
.kegName {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-bottom: 2px solid #157696;
  position: relative;
}
.kegNameAndButton {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.kegName img {
  width: 15px;
  position: absolute;
  right: 0;
}
.kegListItem ul {
  list-style: none;
}
.kegListItem ul li {
  font-weight: 100;
}
.kegListItem ul li span {
  font-weight: 600;
}
