.kegListItem {
  width: 500px;
}
.kegName {
  display: flex;
  align-items: center;
  justify-content: center;
}
.kegListItem ul li {
  font-weight: 100;
}
.kegListItem ul li span {
  font-weight: 600;
}
