.kegListItem {
  width: 500px;
}
.kegName {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-bottom: 2px solid #157696;
  position: relative;
}
.pintsRemaining {
  background-color: rgba(56,23,44,.4);
  position: absolute;
  left: 0;
  height: 100%;
  max-width: 100%;
  z-index: 0;
  display: flex;
  align-items: center;
  transition: background-color .3s ease;
  cursor: pointer;
}
.pintsRemaining:hover {
  background-color: rgba(234,243,65,.8);
  transition: background-color .3s ease;
}

.kegNameAndButton {
  display: flex;
  align-items: center;
  width: 350px;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.kegName img {
  width: 15px;
  position: absolute;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}
.kegListItem ul {
  list-style: none;
}
.kegListItem ul li {
  font-weight: 100;
  margin-bottom: 1.3em;
}
.kegListItem ul li span {
  font-weight: 600;
}
